{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Banner

	Description:

		Generates a slideshow banner.

	Example:

		---
		my_slides_array:
		- image: /images/slide01.jpg
			title: Magna tempus. Sed feugiat.
			url: "#"
		- image: /images/slide02.jpg
			title: Aliquam veroeros nullam.
			url: "#"
		---

		{% include layout/banner.html slides=page.my_slides_array %}
		{% include layout/banner.html title=page.banner_title message=page.banner_message %}

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>{{ includes.title }}</h1>
			{% if includes.message %}
				<p class="actions">
					{{ message }}
				</p>
			{% endif %}
		</div>
	</section>
